/* Home.css */


.Home {
    height: 100vh;
    /* Make the container take up the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* Set the text color to white, assuming your background will be dark */
    background: url('../assets/fullImageBckgndwLogo.png') center fixed;
    /* Add your image path here */
    background-color: rgba(138, 43, 227, 0.557);
        /* Add a semi-transparent background color */
}

h2 {
    font-size: 3em;
    /* Adjust the font size for the heading */
    margin-bottom: 10px;
    /* Add some space below the heading */
}

h3 {
    font-size: 1.5em;
    /* Adjust the font size for the subheading */
    margin-top: 10px;
    /* Add some space above the subheading */
}


.home-container {
    /* border: solid 2px white;
    border-radius: 11px; */
    position: fixed;
    top: 600px;
    left: 0;
    right: 0;
    bottom: 0;
    /* overflow: hidden; */
    /* Prevent scrolling */
}